<mat-card class="card-menu">
    <mat-card-content class="card-menu-content">
        <p class="descriptions-name-title">Heineken</p>
        <div class="descriptions">
            <div class="descriptions-name">
                <p class="descriptions-name-total">Total de itens: 10</p>
                <p class="descriptions-name-total">Situação: <span>Pendente</span></p>
            </div>
            <div class="descriptions-date">
                Data: 00/00/0000
            </div>
            <div class="descriptions-butons">
                <img mat-card-sm-image src="../../../assets/svg/arrow_forward.svg" width="25px" fill="#3d3d3d" class="descriptions-butons-btn-next">
            </div>
        </div>
    </mat-card-content>
</mat-card>
