<mat-card class="card-menu">
    <mat-card-content class="card-menu-content">
        <img mat-card-sm-image src="../../../assets/images/cerveja.png" width="30px" height="30px">
        <div class="descriptions">
            <div class="descriptions-name">
                <p class="descriptions-name-title">Heineken</p>
                <p class="descriptions-name-total">Total em estoque: 10</p>
            </div>
            <div class="descriptions-price">
                10,00
            </div>
            <div class="descriptions-butons">
                <img mat-card-sm-image src="../../../assets/svg/remove.svg" width="20px" class="descriptions-butons-btn-remove">
                <img mat-card-sm-image src="../../../assets/svg/add.svg" width="20px" class="descriptions-butons-btn-add">
            </div>
        </div>
    </mat-card-content>
</mat-card>