.card-menu-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.descriptions-butons-btn-remove {
    background-color: #E00028;
    width: 25px;
    height: 25px;
    border-radius: 20px;
}
.descriptions-butons-btn-add{
    background-color: #2C922A;
    width: 25px;
    height: 25px;
    border-radius: 20px;
}
.descriptions{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.descriptions-name{
    width: 50%;
}
.descriptions-butons{
    display: flex;
    margin: 5px;
}
.descriptions-price {
    font-size: 20pt;
    margin: 5px;
}
.descriptions-butons span {
    margin: 5px;
    font-size: 15pt;
}
.card-menu{
    margin: 4px;
}
.content-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-itens{
    overflow: auto;
    height: 75%;
    border-bottom: 0.5px solid #7c7c7c;
}
.total-payment {
    font-weight: bold;
}
.content-totalPayment {
    font-size: 13pt;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}