<div class="content-menu">
    <mat-card class="card-menu" routerLink="/registerItens">
        <mat-card-content>
            <p>Cadastrar bebidas</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-menu" routerLink="/listItens">
        <mat-card-content>
            <p>Lista de bebidas</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-menu" routerLink="/reservations">
        <mat-card-content>
            <p>Reservas</p>
        </mat-card-content>
    </mat-card>
</div>