.input-full-width {
    width: 100%;
}
.input-small-width{
    margin: 2%;
    width: 40%;
}
.grid-price-fee{
    display: flex;
    justify-content: center;
}
.content-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-photos-card {
    display: flex;
    width: 20%;
    height: 60px;
    margin: 4px;
    align-items: center;
    justify-content: center;
}
.content-photos {
    display: flex;
}
.content-photos {
    margin: 20px;
}
.content-photos-card-addPhoto {
    width: 40px;
    height: 40px;
}