<mat-toolbar>
    <img src="../assets/images/img.jpeg" class="user-img">
    <span class="user-nome">Welligton Bebidas</span>
</mat-toolbar>

<div class="content-menu">
    <mat-card class="card-menu">
        <mat-card-content>
            <p>Cadastrar bebidas</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-menu">
        <mat-card-content>
            <p>Lista de bebidas</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-menu">
        <mat-card-content>
            <p>Reservas</p>
        </mat-card-content>
    </mat-card>
</div>